version: "3.8"

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: z01_db
    ports:
      - "5432:5432"

  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://user:password@db:5432/z01_db
      BOT_TOKEN: ${BOT_TOKEN}
    depends_on:
      - db

  client:
    build: ./client
    ports:
      - "5173:5173"
    stdin_open: true
    tty: true
